<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение | Pathway</title>
    <style>
        body {
            background-color:rgb(255, 255, 255);
            color: #c9d1d9;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            margin: 40px;
            line-height: 1.6;
        }

        h1, h2 {
            color: #ffffff;
        }

        a {
            color: #ffffff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        ul {
            margin-left: 20px;
        }

        strong {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <h1>Пользовательское соглашение приложения Pathway</h1>
    <p><em>Дата обновления: 28 марта 2025 г.</em></p>
    <p>Настоящее Пользовательское соглашение (далее — «Соглашение») регулирует отношения между пользователем (далее — «Пользователь») и владельцем приложения Pathway (далее — «Администрация») в отношении использования мобильного приложения Pathway (далее — «Приложение»).

        Используя Приложение, Пользователь подтверждает, что ознакомился и согласен с условиями настоящего Соглашения.</p>

    <h2>1. Общие положения</h2>
    <p>1.1. Приложение предоставляет пользователю доступ к инструментам управления задачами, документами и взаимодействием с другими пользователями</p>
    <p>1.2. Приложение предоставляется «как есть». Администрация не несет ответственности за возможные ошибки в работе приложения, временные сбои или потерю данных, если иное не предусмотрено действующим законодательством.</p>

    <h2>Как используется полученная информация</h2>
    <p>Сведения, предоставленные пользователем, используются для авторизации и обратной связи, в том числе для направления уведомлений об изменении статуса услуг.</p>

    <h2>2. Регистрация и авторизация</h2>
    <p>2.1. Для доступа к полному функционалу Приложения может потребоваться регистрация и создание учетной записи.</p>
    <p>2.2. Пользователь обязуется предоставить достоверную информацию при регистрации. Ответственность за сохранность логина и пароля несет сам Пользователь.</p>
    <p>2.3. Администрация оставляет за собой право ограничить или удалить доступ к учетной записи Пользователя в случае нарушения условий настоящего Соглашения.</p>

    <h2>3. Права и обязанности сторон</h2>
    <p>3.1. Пользователь имеет право:</p>
    <ul>
        <li>использовать Приложение в рамках его функционала;</li>
        <li>обращаться в техническую поддержку;</li>
        <li>в любой момент прекратить использование Приложения и удалить свою учетную запись сказав администраторам</li>
    </ul>
    <p>3.2. Пользователь обязуется:</p>
    <ul>
        <li>не использовать Приложение для действий, нарушающих законодательство;</li>
        <li>не предпринимать попыток взлома, модификации или вмешательства в работу Приложения;</li>
        <li>соблюдать авторские и иные права третьих лиц.</li>
    </ul>
    <p>3.3. Администрация имеет право:</p>
    <ul>
        <li>приостановить доступ к Приложению в случае технических работ или модернизации;</li>
        <li>удалять информацию, нарушающую настоящие условия или законодательство;</li>
        <li>изменять функциональность Приложения без предварительного уведомления.</li>
    </ul>

    <h2>4. Обработка персональных данных</h2>
    <p>4.1. Использование Приложения может предусматривать передачу определённых персональных данных в соответствии с <a href="https://pthwy.co/privacy/">Политикой конфиденциальности</a></p>
    <p>4.2. Администрация обязуется не передавать персональные данные третьим лицам, за исключением случаев, предусмотренных законом.</p>

    <h2>5. Интеллектуальная собственность</h2>
    <p>5.1. Все права на программный код, дизайн, текстовый и графический контент, размещённый в Приложении, принадлежат Администрации или её партнёрам и охраняются законодательством.</p>
    <p>5.2. Запрещается копирование, распространение и иное использование элементов Приложения без письменного разрешения правообладателя.</p>

    <h2>6. Ответственность</h2>
    <p>6.1. Администрация не несет ответственности за убытки, причиненные в результате использования или невозможности использования Приложения, за исключением случаев, прямо предусмотренных законодательством.</p>
    <p>6.2. Пользователь несет полную ответственность за действия, совершённые с его учетной записи.</p>

    <h2>7. Заключительные положения</h2>
    <p>7.1. Администрация вправе вносить изменения в настоящее Соглашение в любое время без предварительного уведомления Пользователя.</p>
    <p>7.2. Продолжение использования Приложения после внесения изменений означает согласие Пользователя с обновлёнными условиями.</p>
    <p>7.3. По всем вопросам, связанным с настоящим Соглашением, Пользователь может обратиться по адресу электронной почты: info@pthwy.co.</p>
</body>
</html>
